<style> #title{
            color: blue;
            border: 10px solid white;
            margin: 10px;
            text-align: center;
            font-size: 1.5em;
            font-family: cursive;
            font-style: italic;
            padding: 5px;
            width: 350px;
            position: absolute;
            top:3px;
            left: 150px;
            z-index:2;
        }
        #image {
            position: absolute;
            top: 64px;
            left: 49px;
            z-index: 1;
            }
</style>
