            #title {
                font-size: 25px;
                text-align: center;
                background: rgb(63, 69, 69);
                border: 2px solid black;
                font-family: cursive;
                padding: 0px;
                width: 100%;
                position: absolute;
                top: -20px;
                left: 0px;
            }
            #school-name {
                font-size: 10px;
                text-align: center;
                background: lightblue;
                border: 2px solid black;
                font-family: cursive;
                padding: 0px;
                width: 100%;
                position: absolute;
                top: 100px;
                left: 0px;
            }
            body {
                background-color: gray;
            }
            #image {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin-top: 125px;
                z-index: -1;
            }
            #container {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin-top: -135px;
            }
            #three-boxes {
                width: 25%;
            }
            #three-boxes {
                width: 200px;
                height: 250px;
                font-size: 30px;
                text-align: center;
                background: white;
                border: 2px solid black;
                font-family: cursive;
                padding: 20px;
                float: left;
            }
            #container-#2 {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin-top: -135px;
            }
            #three-boxes-#2 {
                width: 25%;
            }
            #three-boxes-#2 {
                width: 200px;
                height: 250px;
                font-size: 30px;
                text-align: center;
                background: white;
                border: 2px solid black;
                font-family: cursive;
                padding: 20px;
                float: left;
            }
            #last-lightblue-box {
                font-size: 20px;
                text-align: center;
                background: lightblue;
                border: 2px solid black;
                font-family: cursive;
                padding: 0px;
                width: 100%;
                height: 50px;
                position: absolute;
                top: 750px;
                left: 0px;
            }
