  #title {
                text-align: center;
                background: rgb(63, 69, 69);
                border: 2px solid black;
                font-family: cursive;
                padding: 5px;
                width: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
            }
            #school-name {
                font-size: 10px;
                text-align: center;
                background: lightblue;
                border: 2px solid black;
                font-family: cursive;
                padding: 0px;
                width: 100%;
                position: absolute;
                top: 100px;
                left: 0px;
            }
            body {
                background-color: gray;
            }
            #image {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin-top: 125px;
                z-index: -1;
            }
            #container {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin-top: 390px;
            }
            #admission, #favorite-department, #clubs-and-sports {
                width: 25%;
            }
            #three-boxes {
                width: 200px;
                height: 300px;
                font-size: 30px;
                text-align: center;
                background: white;
                border: 2px solid black;
                font-family: cursive;
                padding: 20px;
                float: left;
            }
            #team-history {
                font-size: 30px;
                text-align: center;
                background: white;
                border: 2px solid black;
                font-family: cursive;
                padding: 20px;
                width: 300px;
                height: 225px;
                position: absolute;
                top: 390px;
                left: 120px;
            }
            #sign-up {
                font-size: 30px;
                text-align: center;
                background: white;
                border: 2px solid black;
                font-family: cursive;
                padding: 25px;
                width: 300px;
                height: 225px;
                position: absolute;
                top: 390px;
                left: 500px;
            }
            #admin {
                font-size: 28px;
                text-align: center;
                background: white;
                border: 2px solid black;
                font-family: cursive;
                padding: 40px;
                width: 200px;
                position: absolute;
                top: 390px;
                left: 904px;
            }
            #last-lightblue-box {
                font-size: 20px;
                text-align: center;
                background: lightblue;
                border: 2px solid black;
                font-family: cursive;
                padding: 0px;
                width: 100%;
                height: 50px;
                position: absolute;
                top: 750px;
                left: 0px;
            }
